<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="circle-mug" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200px" height="200px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<g style="display:none;">
	<g style="display:inline;">
		<defs>
			<circle id="SVGID_1_" cx="99.3" cy="99.3" r="98.3"/>
		</defs>
		<clipPath id="SVGID_2_">
			<use xlink:href="#SVGID_1_"  style="display:none;overflow:visible;"/>
		</clipPath>
	</g>
	<g style="display:inline;">
		<defs>
			<circle id="SVGID_3_" cx="99.3" cy="99.3" r="98.3"/>
		</defs>
		<clipPath id="SVGID_4_">
			<use xlink:href="#SVGID_3_"  style="display:none;overflow:visible;"/>
		</clipPath>
	</g>
	<g style="display:inline;">
		<defs>
			<circle id="SVGID_5_" cx="99.3" cy="99.3" r="98.3"/>
		</defs>
		<clipPath id="SVGID_6_">
			<use xlink:href="#SVGID_5_"  style="display:none;overflow:visible;"/>
		</clipPath>
	</g>
</g>
<circle style="fill:#B8B8B8;" cx="100" cy="100" r="100"/>
<g>
	<polygon id="body" style="fill:#FFFFFF;" points="106.3,55.8 67.3,55.8 79.4,160.6 106.3,160.6 133.1,160.6 145.2,55.8 	"/>
	<polygon id="cover" style="fill:#E4E4E4;" points="149.2,58.7 63.3,58.7 64.7,49.2 147.8,49.2 	"/>
	<polygon id="cover-top" style="fill:#9A9A9A;" points="138.9,49.3 73.6,49.3 74.7,43.2 137.8,43.2 	"/>
	<polygon id="label-mark" points="141.8,85.7 70.7,85.7 76.1,131.9 136.5,131.9 	"/>
	<g id="circle-logo">
		<circle id="circle-group" style="fill:#FFFFFF;" cx="107" cy="109.3" r="17.3"/>
		<g id="logo-coffee">
			<ellipse id="seed-cover" cx="107" cy="109.3" rx="9.3" ry="11.8"/>
			<path id="seed" style="fill:#B3B3B3;" d="M106.9,100.9c0,0,0,0.3-0.1,0.8c0,0.3-0.1,0.6-0.1,0.9c0,0.3,0,0.7-0.1,1.1
				c0,0.4,0,0.8,0,1.2c0,0.4,0.1,0.8,0.2,1.2c0.1,0.4,0.3,0.7,0.5,1c0.1,0.2,0.2,0.3,0.4,0.4l0.3,0.3l0.1,0.2c0,0,0,0,0.1,0.1
				l0.1,0.1c0.3,0.3,0.5,0.6,0.6,0.9c0.1,0.2,0.2,0.3,0.2,0.5c0.1,0.2,0.1,0.3,0.2,0.5c0.2,0.7,0.3,1.3,0.3,2c0,0.6-0.1,1.2-0.3,1.7
				c-0.1,0.5-0.3,1-0.6,1.4c-0.2,0.4-0.4,0.8-0.6,1.1c-0.2,0.3-0.4,0.5-0.6,0.7c-0.2,0.2-0.3,0.3-0.4,0.4c-0.1,0.1-0.2,0.1-0.2,0.1
				c0,0,0-0.3,0.1-0.8c0.1-0.5,0.2-1.2,0.2-2c0-0.4,0-0.8,0-1.3c0-0.4-0.1-0.9-0.1-1.3c-0.1-0.4-0.2-0.8-0.4-1.2
				c-0.1-0.2-0.2-0.4-0.3-0.5c-0.1-0.2-0.2-0.3-0.3-0.5l0-0.1c0,0,0,0-0.1-0.1l-0.1-0.2l-0.3-0.3c-0.2-0.3-0.5-0.6-0.6-0.9
				c-0.4-0.6-0.6-1.4-0.6-2c-0.1-0.7,0-1.3,0.1-1.8c0.1-0.6,0.3-1,0.5-1.5c0.2-0.4,0.4-0.8,0.6-1.1c0.2-0.3,0.4-0.5,0.6-0.7
				C106.7,101.1,106.9,100.9,106.9,100.9z"/>
		</g>
	</g>
</g>
</svg>
